hashtool=/opt/caddy/current/caddy

flush /opt/app/conf/caddy/caddyfile << CADDYFILE_EOF
{
        admin off
        auto_https off
        persist_config off
        log {
                output file /data/caddy/caddy.log
        }
}

:80 {
        vars {
                rootDir "/data"
        }

        root {vars.rootDir}

        {{- with getv "/env/web.console.password" "" }}
        basic_auth {
                {{ getv "/env/web.console.username" "admin" }} $($hashtool hash-password --plaintext '{{ . }}')
        }
        {{- end }}

        handle /redis/logs* {
                file_server browse
        }

        handle /redis/appendonlydir* {
                file_server browse
        }

        file_server

        redir /redis/ / 308
}
CADDYFILE_EOF
