{
  "name": {{cluster.name}},
  "description": {{cluster.description}},
  "vxnet": {{cluster.vxnet}},
  "multi_zone_policy": "round_robin",
  "advanced_actions": ["change_vxnet", "scale_horizontal"],
  "backup_policy": "device",
  "incremental_backup_supported": true,
  "upgrade_policy": [
     "appv-yjt6jcur",
     "appv-htdfkqlo",
     "appv-2koqx590",
     "appv-tse5x72c"
   ],
  "nodes": [{
    "container": {
      "type": "lxc",
      "zone": "pek3a",
      "image": "img-u31zke3z"
    },
    "instance_class": {{cluster.node.instance_class}},
    "count": {{cluster.node.count}},
    "cpu": {{cluster.node.cpu}},
    "memory": {{cluster.node.memory}},
    "volume": {
      "size": {{cluster.node.volume_size}}
    },
    "passphraseless": "ssh-rsa",
    "services": {
      "start": {
        "cmd": "appctl start"
      },
      "stop": {
        "cmd": "appctl stop"
      },
      "backup": {
        "selector": "appctl findMasterNodeId",
        "nodes_to_execute_on": 1,
        "timeout": 3600,
        "cmd": "appctl backup"
      },
      "restore": {
        "cmd": "appctl restore"
      },
      "scale_in": {
        "pre_check": "appctl preScaleIn",
        "nodes_to_execute_on": 1,
        "cmd": "appctl scaleIn"
      },
      "destroy": {
        "cmd": "appctl destroy"
      },
      "run_command": {
        "type": "custom",
        "nodes_to_execute_on": 1,
        "cmd": "appctl runCommand",
        "timeout": 1200,
        "service_params": {
          "cmd": {{service_params.cmd}},
          "db": {{service_params.db}}
        }
      },
      "restore_data_from_rdb": {
        "type": "custom",
        "cmd": "appctl restoreDataFromuploadedRDBFile",
        "timeout": 1200
      }
    }
  }],
  "env": {
    "disabled-commands": {{env.disabled-commands}},
    "activerehashing": {{env.activerehashing}},
    "appendonly": {{env.appendonly}},
    "appendfsync": {{env.appendfsync}},
    "databases": {{env.databases}},
    "enable-commands": {{env.enable-commands}},
    "hash-max-ziplist-entries": {{env.hash-max-ziplist-entries}},
    "hash-max-ziplist-value": {{env.hash-max-ziplist-value}},
    "latency-monitor-threshold": {{env.latency-monitor-threshold}},
    "list-max-ziplist-entries": {{env.list-max-ziplist-entries}},
    "list-max-ziplist-value": {{env.list-max-ziplist-value}},
    "lua-time-limit": {{env.lua-time-limit}},
    "maxclients": {{env.maxclients}},
    "maxmemory_portion": {{env.maxmemory_portion}},
    "maxmemory-policy": {{env.maxmemory-policy}},
    "maxmemory-samples": {{env.maxmemory-samples}},
    "min-slaves-max-lag": {{env.min-slaves-max-lag}},
    "min-slaves-to-write": {{env.min-slaves-to-write}},
    "no-appendfsync-on-rewrite": {{env.no-appendfsync-on-rewrite}},
    "notify-keyspace-events": {{env.notify-keyspace-events}},
    "port": {{env.port}},
    "repl-backlog-size": {{env.repl-backlog-size}},
    "repl-backlog-ttl": {{env.repl-backlog-ttl}},
    "repl-timeout": {{env.repl-timeout}},
    "requirepass": {{env.requirepass}},
    "set-max-intset-entries": {{env.set-max-intset-entries}},
    "slowlog-log-slower-than": {{env.slowlog-log-slower-than}},
    "slowlog-max-len": {{env.slowlog-max-len}},
    "tcp-keepalive": {{env.tcp-keepalive}},
    "timeout": {{env.timeout}},
    "zset-max-ziplist-entries": {{env.zset-max-ziplist-entries}},
    "zset-max-ziplist-value": {{env.zset-max-ziplist-value}},
    "sentinel.failover-timeout":{{env.sentinel.failover-timeout}},
    "sentinel.down-after-milliseconds":{{env.sentinel.down-after-milliseconds}},
    "web.console.enabled": {{env.web.console.enabled}},
    "web.console.username": {{env.web.console.username}},
    "web.console.password": {{env.web.console.password}}
  },
  "monitor": {
    "enable": true,
    "cmd": "appctl measure",
    "items": {
      "node_role": {
        "unit": "",
        "value_type": "str",
        "statistics_type": "latest",
        "enums": ["master", "slave"]
      },
      "key_count": {
        "unit": "Times",
        "value_type": "int",
        "statistics_type": "latest",
        "scale_factor_when_display": 1
      },
      "get_count": {
        "unit": "Times",
        "value_type": "int",
        "statistics_type": "delta",
        "scale_factor_when_display": 1
      },
      "set_count": {
        "unit": "Times",
        "value_type": "int",
        "statistics_type": "delta",
        "scale_factor_when_display": 1
      },
      "key_based_count": {
        "unit": "Times",
        "value_type": "int",
        "statistics_type": "delta",
        "scale_factor_when_display": 1
      },
      "string_based_count": {
        "unit": "Times",
        "value_type": "int",
        "statistics_type": "delta",
        "scale_factor_when_display": 1
      },
      "set_based_count": {
        "unit": "Times",
        "value_type": "int",
        "statistics_type": "delta",
        "scale_factor_when_display": 1
      },
      "sorted_set_based_count": {
        "unit": "Times",
        "value_type": "int",
        "statistics_type": "delta",
        "scale_factor_when_display": 1
      },
      "list_based_count": {
        "unit": "Times",
        "value_type": "int",
        "statistics_type": "delta",
        "scale_factor_when_display": 1
      },
      "hash_based_count": {
        "unit": "Times",
        "value_type": "int",
        "statistics_type": "delta",
        "scale_factor_when_display": 1
      },
      "hit_rate_max": {
        "unit": "%",
        "value_type": "int",
        "statistics_type": "max",
        "scale_factor_when_display": 0.01
      },
      "hit_rate_min": {
        "unit": "%",
        "value_type": "int",
        "statistics_type": "min",
        "scale_factor_when_display": 0.01
      },
      "hit_rate_avg": {
        "unit": "%",
        "value_type": "int",
        "statistics_type": "avg",
        "scale_factor_when_display": 0.01
      },
      "keyspace_hits": {
        "unit": "Times",
        "value_type": "int",
        "statistics_type": "latest",
        "scale_factor_when_display": 1
      },
      "keyspace_misses": {
        "unit": "Times",
        "value_type": "int",
        "statistics_type": "latest",
        "scale_factor_when_display": 1
      },
      "total_connections_received": {
        "unit": "Times",
        "value_type": "int",
        "statistics_type": "delta",
        "scale_factor_when_display": 1
      },
      "evicted_keys": {
        "unit": "Times",
        "value_type": "int",
        "statistics_type": "latest",
        "scale_factor_when_display": 1
      },
      "expired_keys": {
        "unit": "Times",
        "value_type": "int",
        "statistics_type": "latest",
        "scale_factor_when_display": 1
      },
      "connected_clients_min": {
        "unit": "Times",
        "value_type": "int",
        "statistics_type": "min",
        "scale_factor_when_display": 1
      },
      "connected_clients_max": {
        "unit": "Times",
        "value_type": "int",
        "statistics_type": "max",
        "scale_factor_when_display": 1
      },
      "connected_clients_avg": {
        "unit": "Times",
        "value_type": "int",
        "statistics_type": "avg",
        "scale_factor_when_display": 1
      },
      "used_memory": {
        "unit": "MB",
        "value_type": "int",
        "statistics_type": "latest",
        "scale_factor_when_display": 0.000001
      },
      "memory_usage_min": {
        "unit": "Pecent(%)",
        "value_type": "int",
        "statistics_type": "min",
        "scale_factor_when_display": 0.01
      },
      "memory_usage_avg": {
        "unit": "Pecent(%)",
        "value_type": "int",
        "statistics_type": "avg",
        "scale_factor_when_display": 0.01
      },
      "memory_usage_max": {
        "unit": "Pecent(%)",
        "value_type": "int",
        "statistics_type": "max",
        "scale_factor_when_display": 0.01
      }
    },
    "groups": {
      "Operations": ["get_count", "set_count", "key_based_count", "string_based_count"],
      "Operations2": ["set_based_count", "sorted_set_based_count", "list_based_count", "hash_based_count"],
      "Connections": ["total_connections_received"],
      "Connected_clients": ["connected_clients_min", "connected_clients_max", "connected_clients_avg"],
      "Keys": ["evicted_keys", "expired_keys", "key_count"],
      "Key_hits": ["keyspace_hits", "keyspace_misses"],
      "Memory_usage": ["memory_usage_min", "memory_usage_avg", "memory_usage_max"],
      "Hit_rate": ["hit_rate_min", "hit_rate_avg", "hit_rate_max"]
    },
    "display": ["node_role", "Memory_usage", "Operations", "Operations2", "Connected_clients", "Connections", "Keys", "Key_hits", "Hit_rate"],
    "alarm": ["memory_usage_max", "evicted_keys", "keyspace_misses", "hit_rate_max", "connected_clients_max"]
  },
  "health_check": {
    "enable": true,
    "interval_sec": 60,
    "timeout_sec": 10,
    "action_timeout_sec": 30,
    "healthy_threshold": 2,
    "unhealthy_threshold": 2,
    "check_cmd": "appctl check",
    "action_cmd": "appctl revive"
  },
  "endpoints": {
    "client": {
      "port": {{env.port}},
      "protocol": "tcp"
    },
    "sentinel": {
      "port": 26379,
      "protocol": "tcp"
    },
    "reserved_ips": {
      "vip": {
        "value": ""
      }
    }
  },
  "display_tabs" : {
    "roles" : {
    "cmd" : "appctl getRedisRoles"
    }
  }
}
