app/*.zip
.vscode/*
ansible/roles/*/files/tmp
ansible/file/tmp/*
ansible/test*.yml
app-standalone/*.zip
app-standalone/*.tar.gz
app-standalone/*.tgz
app-cluster/*.zip
app-cluster/*.tar.gz
app-cluster/*.tgz
custom.env
.vscode/*
