.vscode/*
.vscode/*
ansible/file/tmp/*
ansible/hosts
ansible/roles/*/files/tmp
ansible/roles/app-agent/tmp/
ansible/roles/caddy-1.0.6/files/
ansible/roles/jq/files/
ansible/test*.yml
app-cluster/*.tar.gz
app-cluster/*.tgz
app-cluster/*.zip
app-standalone/*.tar.gz
app-standalone/*.tgz
app-standalone/*.zip
app/*.zip
custom.env
