{{- $realPass := getv "/env/requirepass" "" }}
{{- if not $realPass }}
{{-   $realPass = getv "/env/appcenterignore-requirepass" "" }}
{{- end }}
{{- $escapedPass := replace $realPass `$` `\$` -1 }}

{{- $my_gid := getv "/host/gid"}}

{{- $found := false}}
{{- $parent_node_id := ""}}
{{- range $host := lsdir "/hosts/master"}}
  {{- if not $found}}
    {{- $gid_path := printf "/hosts/master/%s/gid" $host}}
    {{- if eq (getv $gid_path) $my_gid}}
      {{- $node_id_path := printf "/hosts/master/%s/node_id" $host}}
      {{- $parent_node_id = getv $node_id_path}}
      {{- $found = true}}
    {{- end}}
  {{- end}}
{{- end}}

flush /opt/app/bin/envs/node.env << NODES_ENV_EOF
NODE_CTL="redis-cluster"
CONFIG_CLUSTER_PORT={{ getv "/env/cluster-port" "0" }}
{{- if (eq (getv "/env/tls-cluster" "no") "yes") }}
REDIS_PORT=$(({{- getv "/env/tls-port" -}}!=0?{{ getv "/env/tls-port" }}:{{ getv "/env/port" }}))
CLUSTER_PORT=$(({{ getv "/env/cluster-port" "0" }}>0?{{ getv "/env/cluster-port" "0" }}:$(({{ getv "/env/tls-port" }}+10000))))
{{ else }}
REDIS_PORT=$(({{- getv "/env/port" -}}!=0?{{ getv "/env/port" }}:{{ getv "/env/tls-port" }}))
CLUSTER_PORT=$(({{ getv "/env/cluster-port" "0" }}>0?{{ getv "/env/cluster-port" "0" }}:$(({{ getv "/env/port" }}+10000))))
{{ end -}}
SERVICES="\$SERVICES redis-server/true/tcp:$(($(({{- getv "/env/port" -}}!=0?{{ getv "/env/port" }}:{{ getv "/env/tls-port" }}))))"
REDIS_TLS_CLUSTER="{{ getv "/env/tls-cluster" }}"
MY_IP="{{ getv "/host/ip" }}"
REDIS_PLAIN_PORT={{ getv "/env/port" "6379" }}
REDIS_TLS_PORT={{ getv "/env/tls-port" "0" }}
REDIS_PASSWORD='{{ $escapedPass }}'
CLUSTER_ID="{{ getv "/cluster/cluster_id" }}"
NODE_ID="{{ getv "/host/node_id" }}"
PARENT_NODE_ID="{{ print $parent_node_id }}"
DISABLED_COMMANDS="
{{- if (eq (getv "/env/disabled-commands" "no") "yes") }}
FLUSHALL FLUSHDB
{{- end }}
{{- if (eq (getv "/env/enable-config" "0") "0") }}
 BGREWRITEAOF BGSAVE CONFIG DEBUG KEYS REPLICAOF SAVE SHUTDOWN SLAVEOF
{{- end }}
{{- if eq (getv "/env/enable-acl" "no") "yes" }}
 ACL
{{- end }}
"
ENABLE_ACL="{{ getv "/env/enable-acl" "yes" }}"
TLS_CONF_LIST="/opt/app/conf/redis-cluster/tls/ca.crt:/data/redis/tls/ca.crt
/opt/app/conf/redis-cluster/tls/redis.crt:/data/redis/tls/redis.crt
/opt/app/conf/redis-cluster/tls/redis.dh:/data/redis/tls/redis.dh
/opt/app/conf/redis-cluster/tls/redis.key:/data/redis/tls/redis.key"

{{- $nodeGroups := "" }}
{{- range $host := lsdir "/hosts/master"}}
  {{- $curParentNodeId := getv (printf "/hosts/master/%s/node_id" $host)}}
  {{- $nodeGroups = printf "%s %s:%s" $nodeGroups $curParentNodeId $curParentNodeId}}
  {{- $gid := getv (printf "/hosts/master/%s/gid" $host)}}
    {{- range $subHost := lsdir "/hosts/master-replica"}}
      {{- $my_gid := getv (printf "/hosts/master-replica/%s/gid" $subHost)}}
      {{- if eq $gid $my_gid}}
        {{- $curNodeId := getv (printf "/hosts/master-replica/%s/node_id" $subHost)}}
        {{- $nodeGroups = printf "%s %s:%s" $nodeGroups $curParentNodeId $curNodeId}}
      {{- end}}
    {{- end}}
{{- end}}
NODE_GROUPS="{{ print $nodeGroups }}"

NODES_ENV_EOF

