flush /opt/app/bin/envs/node.env << NODES_ENV_EOF
NODE_CTL="redis-cluster"
CONFIG_CLUSTER_PORT={{ getv "/env/cluster-port" "0" }}
{{- if (eq (getv "/env/tls-cluster" "no") "yes") }}
REDIS_PORT=$(({{- getv "/env/tls-port" -}}!=0?{{ getv "/env/tls-port" }}:{{ getv "/env/port" }}))
CLUSTER_PORT=$(({{ getv "/env/cluster-port" "0" }}>0?{{ getv "/env/cluster-port" "0" }}:$(({{ getv "/env/tls-port" }}+10000))))
{{ else }}
REDIS_PORT=$(({{- getv "/env/port" -}}!=0?{{ getv "/env/port" }}:{{ getv "/env/tls-port" }}))
CLUSTER_PORT=$(({{ getv "/env/cluster-port" "0" }}>0?{{ getv "/env/cluster-port" "0" }}:$(({{ getv "/env/port" }}+10000))))
{{ end -}}
SERVICES="\$SERVICES redis-server/true/tcp:$(($(({{- getv "/env/port" -}}!=0?{{ getv "/env/port" }}:{{ getv "/env/tls-port" }}))))"
REDIS_TLS_CLUSTER="{{ getv "/env/tls-cluster" }}"
MY_IP="{{ getv "/host/ip" }}"
REDIS_PLAIN_PORT={{ getv "/env/port" "6379" }}
REDIS_TLS_PORT={{ getv "/env/tls-port" "0" }}
REDIS_PASSWORD='{{ getv "/env/requirepass" "" }}'
CLUSTER_ID="{{ getv "/cluster/cluster_id" }}"
NODE_ID="{{ getv "/host/node_id" }}"
DISABLED_COMMANDS="
{{- if (eq (getv "/env/disabled-commands" "no") "yes") }}
FLUSHALL FLUSHDB
{{- end }}
{{- if (eq (getv "/env/enable-config" "0") "0") }}
 BGREWRITEAOF BGSAVE CONFIG DEBUG KEYS REPLICAOF SAVE SHUTDOWN SLAVEOF
{{- end }}
{{- if eq (getv "/env/enable-acl" "no") "yes" }}
 ACL
{{- end }}
"
ENABLE_ACL="{{ getv "/env/enable-acl" "yes" }}"
TLS_CONF_LIST="/opt/app/conf/redis-cluster/tls/ca.crt:/data/redis/tls/ca.crt
/opt/app/conf/redis-cluster/tls/redis.crt:/data/redis/tls/redis.crt
/opt/app/conf/redis-cluster/tls/redis.dh:/data/redis/tls/redis.dh
/opt/app/conf/redis-cluster/tls/redis.key:/data/redis/tls/redis.key"
NODES_ENV_EOF

