flush /opt/app/bin/envs/node.env << NODES_ENV_EOF
NODE_CTL="redis-cluster"
{{- if (eq (getv "/env/tls-cluster") "yes") }}
REDIS_PORT={{ getv "/env/tls-port" }}
SERVICES="\$SERVICES redis-server/true/tcp:{{ getv "/env/tls-port" }}"
REDIS_TLS_CLUSTER="yes"
{{- else }}
REDIS_PORT={{ getv "/env/port" }}
SERVICES="\$SERVICES redis-server/true/tcp:{{ getv "/env/port" }}"
REDIS_TLS_CLUSTER="no"
{{- end }}
MY_IP="{{ getv "/host/ip" }}"
REDIS_PLAIN_PORT={{ getv "/env/port" "6379" }}
REDIS_TLS_PORT={{ getv "/env/tls-port" "0" }}
REDIS_PASSWORD='{{ getv "/env/appcenterignore-requirepass" "" }}'
CLUSTER_ID="{{ getv "/cluster/cluster_id" }}"
NODE_ID="{{ getv "/host/node_id" }}"
DISABLED_COMMANDS="
{{- if (eq (getv "/env/disabled-commands" "no") "yes") }}
FLUSHALL FLUSHDB
{{- end }}
{{- if (eq (getv "/env/enable-config" "0") "0") }}
 BGREWRITEAOF BGSAVE CONFIG DEBUG KEYS REPLICAOF SAVE SHUTDOWN SLAVEOF
{{- end }}
"

TLS_CONF_LIST="/opt/app/conf/redis-cluster/tls/ca.crt:/data/redis/tls/ca.crt
/opt/app/conf/redis-cluster/tls/redis.crt:/data/redis/tls/redis.crt
/opt/app/conf/redis-cluster/tls/redis.dh:/data/redis/tls/redis.dh
/opt/app/conf/redis-cluster/tls/redis.key:/data/redis/tls/redis.key"
NODES_ENV_EOF

