flush /opt/app/bin/envs/node.env << NODES_ENV_EOF
NODE_CTL="redis-cluster"
SERVICES="\$SERVICES redis-server/true/tcp:6379"
MY_IP="{{ getv "/host/ip" }}"
REDIS_PORT={{ getv "/env/port" "6379" }}
REDIS_PASSWORD='{{ getv "/env/appcenterignore-requirepass" "" }}'
CLUSTER_ID="{{ getv "/cluster/cluster_id" }}"
NODE_ID="{{ getv "/host/node_id" }}"
DISABLED_COMMANDS="
{{- if (eq (getv "/env/disabled-commands" "no") "yes") }}
FLUSHALL FLUSHDB
{{- end }}
{{- if (eq (getv "/env/enable-config" "0") "0") }}
 BGREWRITEAOF BGSAVE CONFIG DEBUG KEYS REPLICAOF SAVE SHUTDOWN SLAVEOF
{{- end }}
"
HOSTS_NAMES="$(echo "$hostsNames" |sed '1d')"
NODES_ENV_EOF
