encodeCmd() {
  echo -n "{{ getv "/cluster/cluster_id" }}{{ getv "/host/node_id" }}$1" | md5sum | cut -f 1 -d " "
}


renameCommands() {
  local disabledCommands="
    BGREWRITEAOF
    BGSAVE
    CONFIG
    DEBUG
    KEYS
    REPLICAOF
    SAVE
    SHUTDOWN
    SLAVEOF
    {{- if (eq (getv "/env/disabled-commands" "no") "yes") }}
    FLUSHALL
    FLUSHDB
    {{- end }}
  "
  readonly CLUSTER_ID="{{ getv "/cluster/cluster_id" }}" NODE_ID="{{ getv "/host/node_id" }}"
  local cmd; for cmd in $disabledCommands; do
    local renamed=$cmd
    {{- if eq (getv "/env/enable-config" "0") "0" }}
    renamed="$(encodeCmd $cmd)"
    {{- end }}
    echo rename-command $cmd $renamed
  done
}


flush /opt/app/conf/redis-cluster/redis.changed.conf << REDIS_CHANGED_CONF_EOF
port {{ getv "/env/port" "6379" }}
tls-port {{ getv "/env/tls-port" "0" }}
tls-cluster {{ getv "/env/tls-cluster" "no" }}
activerehashing {{ getv "/env/activerehashing" "yes" }}
appendfsync {{ getv "/env/appendfsync" "everysec" }}
appendonly {{ getv "/env/appendonly" "yes" }}
cluster-node-timeout {{ getv "/env/cluster-node-timeout" "15000" }}
hash-max-ziplist-entries {{ getv "/env/hash-max-ziplist-entries" "512" }}
hash-max-ziplist-value {{ getv "/env/hash-max-ziplist-value" "64" }}
latency-monitor-threshold {{ getv "/env/latency-monitor-threshold" "0" }}
lua-time-limit {{ getv "/env/lua-time-limit" "5000" }}
maxclients {{ getv "/env/maxclients" "65000" }}
maxmemory {{ mul (mul (getv "/host/memory") "10485") (getv "/env/appctl.maxmemory.percent" "80") }}
maxmemory-policy {{ getv "/env/maxmemory-policy" "volatile-lru" }}
maxmemory-samples {{ getv "/env/maxmemory-samples" "3" }}
min-slaves-max-lag {{ getv "/env/min-slaves-max-lag" "10" }}
min-slaves-to-write {{ getv "/env/min-slaves-to-write" "0" }}
no-appendfsync-on-rewrite {{ getv "/env/no-appendfsync-on-rewrite" "yes" }}
notify-keyspace-events "{{ getv "/env/notify-keyspace-events" "" }}"
repl-backlog-size {{ getv "/env/repl-backlog-size" "1048576" }}
repl-backlog-ttl {{ getv "/env/repl-backlog-ttl" "3600" }}
repl-timeout {{ getv "/env/repl-timeout" "60" }}
set-max-intset-entries {{ getv "/env/set-max-intset-entries" "512" }}
slowlog-log-slower-than {{ getv "/env/slowlog-log-slower-than" "-1" }}
slowlog-max-len {{ getv "/env/slowlog-max-len" "128" }}
tcp-keepalive {{ getv "/env/tcp-keepalive" "0" }}
timeout {{ getv "/env/timeout" "0" }}
zset-max-ziplist-entries {{ getv "/env/zset-max-ziplist-entries" "128" }}
zset-max-ziplist-value {{ getv "/env/zset-max-ziplist-value" "64" }}
masterauth "{{ getv "/env/appcenterignore-requirepass" "" }}"
requirepass "{{ getv "/env/appcenterignore-requirepass" "" }}"
$(renameCommands)
rename-command acl $([[ "{{ getv "/env/enable-acl" }}" == "yes" ]] && encodeCmd ACL || echo ACL) 
{{- if (eq (getv "/host/cpu") 8) }}
io-threads-do-reads yes
io-threads 6
{{- else }}
io-threads-do-reads no
io-threads 1
{{- end }}
tls-auth-clients {{ getv "/env/tls-auth-clients" }}
tls-cluster {{ getv "/env/tls-cluster" }}
tls-protocols "{{ getv "/env/tls-protocols" }}"
tls-ciphers "{{ getv "/env/tls-ciphers" }}"
tls-ciphersuites "{{ getv "/env/tls-ciphersuites" }}"
tls-prefer-server-ciphers {{ getv "/env/tls-prefer-server-ciphers" }}
tls-session-caching {{ getv "/env/tls-session-caching" }}
tls-session-cache-size {{ getv "/env/tls-session-cache-size" }}
tls-session-cache-timeout {{ getv "/env/tls-session-cache-timeout" }}
REDIS_CHANGED_CONF_EOF
