encodeCmd() {
  echo -n "{{ getv "/cluster/cluster_id" }}{{ print $parent_node_id }}$1" | md5sum | cut -f 1 -d " "
}


renameCommands() {
  local disabledCommands="
    BGREWRITEAOF
    BGSAVE
    CONFIG
    DEBUG
    KEYS
    REPLICAOF
    SAVE
    SHUTDOWN
    SLAVEOF
  "
  readonly CLUSTER_ID="{{ getv "/cluster/cluster_id" }}" NODE_ID="{{ getv "/host/node_id" }}"
  local cmd; for cmd in $disabledCommands; do
    local renamed=$cmd
    {{- if eq (getv "/env/enable-config" "0") "0" }}
    renamed="$(encodeCmd $cmd)"
    {{- end }}
    echo rename-command $cmd $renamed
  done
}

getIoThreadsDoReads() {
  local ioThreadsDoReads="{{ getv "/env/io-threads-do-reads" "auto" }}"
  if [[ "$ioThreadsDoReads"  == "auto" ]];then
        ioThreadsDoReads=yes
        [[ "$(getIoThreads)" == "1" ]] && ioThreadsDoReads=no
  fi
  echo "$ioThreadsDoReads"
}

getIoThreads() {
  local ioThreads="{{ getv "/env/io-threads" "0" }}"
  local cpu={{ getv "/host/cpu" "2" }}
  if [[ "$ioThreads" == "0" ]];then
    case "$cpu" in
      1) ioThreads="1" ;;
      [2-8]) ioThreads="$(($cpu-1))" ;;
      *) ioThreads="8"
    esac
  fi
  echo "$ioThreads"
}

flush /opt/app/conf/redis-cluster/redis.changed.conf << REDIS_CHANGED_CONF_EOF
port {{ getv "/env/port" "6379" }}
cluster-port {{ getv "/env/cluster-port" "0" }}
tls-port {{ getv "/env/tls-port" "0" }}
tls-cluster {{ getv "/env/tls-cluster" "no" }}
activerehashing {{ getv "/env/activerehashing" "yes" }}
save "{{ replace (getv "/env/save" "") `$` `\$` -1 }}"
appendfsync {{ getv "/env/appendfsync" "everysec" }}
appendonly {{ getv "/env/appendonly" "yes" }}
cluster-node-timeout {{ getv "/env/cluster-node-timeout" "15000" }}
cluster-allow-pubsubshard-when-down {{ getv "/env/cluster-allow-pubsubshard-when-down" "yes" }}
cluster-link-sendbuf-limit {{ getv "/env/cluster-link-sendbuf-limit" "0" }}
latency-monitor-threshold {{ getv "/env/latency-monitor-threshold" "0" }}
lua-time-limit {{ getv "/env/lua-time-limit" "5000" }}
client-output-buffer-limit normal {{getv "/env/client-output-buffer-limit-normal"}}
client-output-buffer-limit replica {{getv "/env/client-output-buffer-limit-replica"}}
client-output-buffer-limit pubsub {{getv "/env/client-output-buffer-limit-pubsub"}}
maxclients {{ getv "/env/maxclients" "65000" }}
maxmemory {{ mul (mul (getv "/host/memory") "10485") (getv "/env/appctl.maxmemory.percent" "80") }}
maxmemory-policy {{ getv "/env/maxmemory-policy" "volatile-lru" }}
maxmemory-samples {{ getv "/env/maxmemory-samples" "3" }}
maxmemory-clients {{ getv "/env/maxmemory-clients" "0" }}
min-replicas-max-lag {{ getv "/env/min-replicas-max-lag" "10" }}
min-replicas-to-write {{ getv "/env/min-replicas-to-write" "0" }}
no-appendfsync-on-rewrite {{ getv "/env/no-appendfsync-on-rewrite" "yes" }}
notify-keyspace-events "{{ replace (getv "/env/notify-keyspace-events" "") `$` `\$` -1 }}"
repl-backlog-size {{ getv "/env/repl-backlog-size" "1048576" }}
repl-backlog-ttl {{ getv "/env/repl-backlog-ttl" "3600" }}
repl-timeout {{ getv "/env/repl-timeout" "60" }}
slowlog-log-slower-than {{ getv "/env/slowlog-log-slower-than" "-1" }}
slowlog-max-len {{ getv "/env/slowlog-max-len" "128" }}
tcp-keepalive {{ getv "/env/tcp-keepalive" "0" }}
timeout {{ getv "/env/timeout" "0" }}
shutdown-timeout {{ getv "/env/shutdown-timeout" "10" }}
set-max-intset-entries {{ getv "/env/set-max-intset-entries" "512" }}
list-max-listpack-size {{ getv "/env/list-max-listpack-size" "-2" }}
hash-max-listpack-entries {{ getv "/env/hash-max-listpack-entries" "512" }}
hash-max-listpack-value {{ getv "/env/hash-max-listpack-value" "64" }}
zset-max-listpack-entries {{ getv "/env/zset-max-listpack-entries" "128" }}
zset-max-listpack-value {{ getv "/env/zset-max-listpack-value" "64" }}
masterauth "{{ $escapedPass }}"
requirepass "{{ $escapedPass }}"
$(renameCommands)
rename-command ACL $([[ "{{ getv "/env/enable-acl" }}" == "yes" ]] && encodeCmd ACL || echo ACL)
rename-command FLUSHALL $([[ "{{ getv "/env/disabled-commands" }}" == "yes" ]] && encodeCmd FLUSHALL || echo FLUSHALL)
rename-command FLUSHDB $([[ "{{ getv "/env/disabled-commands" }}" == "yes" ]] && encodeCmd FLUSHDB || echo FLUSHDB)
io-threads $(getIoThreads)
io-threads-do-reads $(getIoThreadsDoReads)
tls-auth-clients {{ getv "/env/tls-auth-clients" }}
tls-cluster {{ getv "/env/tls-cluster" }}
tls-protocols "{{ getv "/env/tls-protocols" }}"
tls-ciphers "{{ getv "/env/tls-ciphers" }}"
tls-ciphersuites "{{ getv "/env/tls-ciphersuites" }}"
tls-prefer-server-ciphers {{ getv "/env/tls-prefer-server-ciphers" }}
tls-session-caching {{ getv "/env/tls-session-caching" }}
tls-session-cache-size {{ getv "/env/tls-session-cache-size" }}
tls-session-cache-timeout {{ getv "/env/tls-session-cache-timeout" }}
REDIS_CHANGED_CONF_EOF
