flush /opt/app/bin/envs/changevxnet.env << CHANGE_VXNET_ENV_EOF
REDIS_NODES="$(echo "
{{- range ls "/hosts/master" }}
{{ getv (printf "/hosts/master/%s/gid" .) }}/
{{- getv (printf "/hosts/master/%s/sid" .) }}/master/
{{- getv (printf "/hosts/master/%s/instance_id" .) }}/
{{- getv (printf "/hosts/master/%s/ip" .) }}
{{- end }}
{{- range ls "/hosts/master-replica" }}
{{ getv (printf "/hosts/master-replica/%s/gid" .) }}/
{{- getv (printf "/hosts/master-replica/%s/sid" .) }}/slave/
{{- getv (printf "/hosts/master-replica/%s/instance_id" .) }}/
{{- getv (printf "/hosts/master-replica/%s/ip" .) }}
{{- end }}
" | xargs -n1 | sort -V | xargs)"
CHANGE_VXNET_ENV_EOF
