flush /opt/app/bin/envs/scale.env << SCAIL_ENV_EOF
JOINING_REDIS_NODES="$(echo "
{{- range ls "/adding-hosts/master" }}
{{ getv (printf "/adding-hosts/master/%s/gid" .) }}/
{{- getv (printf "/hosts/master/%s/sid" .) }}/master/
{{- getv (printf "/adding-hosts/master/%s/instance_id" .) }}/
{{- getv (printf "/adding-hosts/master/%s/ip" .) }}
{{- end }}
{{- range ls "/adding-hosts/master-replica" }}
{{ getv (printf "/adding-hosts/master-replica/%s/gid" .) }}/
{{- getv (printf "/hosts/master-replica/%s/sid" .) }}/slave/
{{- getv (printf "/adding-hosts/master-replica/%s/instance_id" .) }}/
{{- getv (printf "/adding-hosts/master-replica/%s/ip" .) }}
{{- end }}
" | xargs -n1 | sort -V | xargs)"
LEAVING_REDIS_NODES="$(echo "
{{- range ls "/deleting-hosts/master" }}
{{ getv (printf "/deleting-hosts/master/%s/gid" .) }}/
{{- getv (printf "/hosts/master/%s/sid" .) }}/master/
{{- getv (printf "/deleting-hosts/master/%s/instance_id" .) }}/
{{- getv (printf "/deleting-hosts/master/%s/ip" .) }}
{{- end }}
{{- range ls "/deleting-hosts/master-replica" }}
{{ getv (printf "/deleting-hosts/master-replica/%s/gid" .) }}/
{{- getv (printf "/hosts/master-replica/%s/sid" .) }}/slave/
{{- getv (printf "/deleting-hosts/master-replica/%s/instance_id" .) }}/
{{- getv (printf "/deleting-hosts/master-replica/%s/ip" .) }}
{{- end }}
" | xargs -n1 | sort -V | xargs)"
SCAIL_ENV_EOF
