getSlavePriority(){
  local mySid="{{ getv "/host/sid" }}"
  local ourSid="$(echo "{{ range gets "/hosts/*/sid" }}
  {{- printf .Value }} 
  {{ end }}" |sort -n)"
  local sid counter=0; for sid in $ourSid;do
    counter=$(($counter+1))
    [[ "$sid" == "$mySid" ]] && break
  done
  if [[ $counter -le 3 ]];then echo 100; else echo 0;fi
}
