isVotingNode() {
  local ourVotingNodesSid="$(sort -n <<< "{{ join (getvs "/hosts/*/sid") "\n" }}" |xargs)"
  echo "$ourVotingNodesSid" | grep -q $1
}

SENTINEL_MONITOR_CLUSTER_NAME="{{ getv "/cluster/cluster_id" }}"
