{{- $allHosts := lsdir "/hosts" }}
{{- $leavingHosts := lsdir "/deleting-hosts" }}
{{- $joiningHosts := lsdir "/adding-hosts" }}

flush /opt/app/bin/envs/node-redis-standalone.env << REDIS_ENV_EOF
SERVICES="\$SERVICES $(echo "
redis-server/true/tcp:{{ getv "/env/port" "6379" }}
redis-sentinel/{{ eq (len $allHosts) 3 }}/tcp:26379
" | xargs)"
NODE_CTL="redis-standalone"
CLUSTER_ID={{ getv "/cluster/cluster_id" }}
REDIS_PORT={{ getv "/env/port" "6379" }}
REDIS_NODES="$(echo "
{{- range $allHosts }}
{{ getv (printf "/hosts/%s/sid" .) }}/{{ getv (printf "/hosts/%s/node_id" .) }}/{{ getv (printf "/hosts/%s/ip" .) }}
{{- end }}
" | xargs -n1 | sort -V | xargs)"
JOINING_REDIS_NODES="$(echo "
{{- range $joiningHosts }}
{{ getv (printf "/adding-hosts/%s/sid" .) }}/{{ getv (printf "/hosts/%s/node_id" .) }}/{{ getv (printf "/adding-hosts/%s/ip" .) }}
{{- end }}
" | xargs -n1 | sort -V | xargs)"
LEAVING_REDIS_NODES="$(echo "
{{- range $leavingHosts }}
{{ getv (printf "/deleting-hosts/%s/sid" .) }}/{{ getv (printf "/hosts/%s/node_id" .) }}/{{ getv (printf "/deleting-hosts/%s/ip" .) }}
{{- end }}
" | xargs -n1 | sort -V | xargs)"
REDIS_VIP={{ getv "/cluster/endpoints/reserved_ips/vip/value" }}
REDIS_PASSWORD={{ getv "/env/requirepass" "" }}
ALLOWED_COMMANDS="
{{- if (eq "no" (getv "/env/disabled-commands" "no")) -}}
FLUSHALL FLUSHDB
{{- end -}}
$(echo " {{ replace (getv "/env/enable-commands" "DISABLE_ALL") "," " " -1 }} " | sed "/ DISABLE_ALL /d")"
REDIS_ENV_EOF
