{{- $allHosts := lsdir "/hosts" }}
{{- $leavingHosts := lsdir "/deleting-hosts" }}
{{- $joiningHosts := lsdir "/adding-hosts" }}

cat > /opt/app/bin/envs/node-redis-standalone.env << REDIS_ENV_EOF
SERVICES="\$SERVICES $(echo "
redis-server/true/tcp:{{ getv "/env/port" "6379" }}
redis-sentinel/{{ gt (sub (len $allHosts) (len (or $joiningHosts $leavingHosts))) 1 }}/tcp:26379
" | xargs)"
NODE_CTL="redis-standalone"
CLUSTER_ID={{ getv "/cluster/cluster_id" }}
REDIS_PORT={{ getv "/env/port" "6379" }}
REDIS_NODES="$(echo "
{{- range $instanceId := $allHosts }}
{{- if not ((or $joiningHosts $leavingHosts) | filter $instanceId) }}
{{ getv (printf "/hosts/%s/sid" $instanceId) }}/{{ getv (printf "/hosts/%s/node_id" $instanceId) }}/{{ getv (printf "/hosts/%s/ip" $instanceId) }}
{{- end }}
{{- end }}
" | xargs -n1 | sort -V | xargs)"
REDIS_VIP={{ getv "/cluster/endpoints/reserved_ips/vip/value" }}
REDIS_PASSWORD={{ getv "/env/requirepass" "" }}
ALLOWED_COMMANDS="
{{- if (eq "no" (getv "/env/disabled-commands" "no")) -}}
FLUSHALL FLUSHDB
{{- end -}}
$(echo " {{ replace (getv "/env/enable-commands" "DISABLE_ALL") "," " " -1 }} " | sed "/ DISABLE_ALL /d")"
REDIS_ENV_EOF
