{{- $allInstanceIds := lsdir "/hosts" }}
{{- $leavingInstanceIds := lsdir "/deleting-hosts" }}
{{- $joiningInstanceIds := lsdir "/adding-hosts" }}

allNodes="{{- range $allInstanceIds }}
{{- if $joiningInstanceIds | filter . }}
joining/{{ getv (printf "/adding-hosts/%s/sid" .) }}/{{ getv (printf "/adding-hosts/%s/node_id" .) }}/{{ getv (printf "/adding-hosts/%s/ip" .) }}
{{- else if $leavingInstanceIds |filter . }}
leaving/{{ getv (printf "/deleting-hosts/%s/sid" .) }}/{{ getv (printf "/deleting-hosts/%s/node_id" .) }}/{{ getv (printf "/deleting-hosts/%s/ip" .) }}
{{- else }}
stable/{{ getv (printf "/hosts/%s/sid" .) }}/{{ getv (printf "/hosts/%s/node_id" .) }}/{{ getv (printf "/hosts/%s/ip" .) }}
{{- end }}
{{ end }}"

getSpecifiedNodes(){
  echo "$allNodes" |xargs -n1 |grep $1 |cut -d"/" -f2- | sort -V | xargs
}

flush /opt/app/bin/envs/node-redis-standalone.env << REDIS_ENV_EOF
SENTINEL_PORT={{- if eq (getv "/env/sentinel.port") "0" }}{{- getv "/env/sentinel.tls-port" "26479"}}{{- else }}{{- getv "/env/sentinel.port" "26379" }}{{- end }}
REDIS_PORT={{- if eq (getv "/env/port") "0" }}{{- getv "/env/tls-port" "6479"}}{{- else }}{{- getv "/env/port" "6379" }}{{- end }}
SERVICES="\$SERVICES $(echo "
redis-server/true/tcp:\$REDIS_PORT
redis-sentinel/true/tcp:\$SENTINEL_PORT")"
REDIS_PLAIN_PORT={{ getv "/env/port" "6379" }}
REDIS_TLS_PORT={{ getv "/env/tls-port" "0" }}
SENTINEL_PLAIN_PORT={{- getv "/env/sentinel.port" "26379" }}
SENTINEL_TLS_PORT={{- getv "/env/sentinel.tls-port" "0" }}
NODE_CTL="redis-standalone"
MY_NODE_ID="{{ getv "/host/node_id" }}"
CLUSTER_ID={{ getv "/cluster/cluster_id" }}
SENTINEL_MONITOR_CLUSTER_NAME="$SENTINEL_MONITOR_CLUSTER_NAME"
REDIS_DATABASES={{ getv "/env/databases" "16" }}
STABLE_REDIS_NODES="$(getSpecifiedNodes stable)"
JOINING_REDIS_NODES="$(getSpecifiedNodes joining)"
LEAVING_REDIS_NODES="$(getSpecifiedNodes leaving)"
VERTICAL_SCALING_ROLES="{{if exists "/vertical-scaling-roles"}}RUNNING{{end}}"
UPGRADE_AUDIT="{{ join (getvs "/upgrade-audit") "" }}"
REBUILD_AUDIT="{{ join (getvs "/rebuild-audit") "" }}"
REDIS_VIP={{ getv "/cluster/endpoints/reserved_ips/vip/value" }}
REDIS_PASSWORD='{{ getv "/env/requirepass" "" }}'
SENTINEL_PASSWORD='{{ getv "/env/sentinel.requirepass" "" }}'
DISABLED_COMMANDS="{{- if eq (getv "/env/enable-acl" "no") "yes" }} ACL {{ end -}}
{{- if (eq "yes" (getv "/env/disabled-commands" "no")) }} FLUSHALL FLUSHDB {{ end -}}
$(preDisabledCommands=" BGREWRITEAOF BGSAVE CONFIG DEBUG KEYS REPLICAOF SAVE SHUTDOWN SLAVEOF "; \
  allowedCommands="$(echo " {{ replace (getv "/env/enable-commands" "DISABLE_ALL") "," " " -1 }} " |sed '/ DISABLE_ALL /d')"; \
    awk 'BEGIN{RS=" ";ORS=" "} NR==FNR{a[$0]} NR>FNR{if (!($0 in a)) {print $0}}' <(echo "$allowedCommands") <(echo "$preDisabledCommands"))"
ENABLE_ACL="{{ getv "/env/enable-acl" "yes" }}"
TLS_CONF_LIST="/opt/app/conf/redis-standalone/tls/ca.crt:/data/redis/tls/ca.crt
/opt/app/conf/redis-standalone/tls/redis.key:/data/redis/tls/redis.key
/opt/app/conf/redis-standalone/tls/redis.crt:/data/redis/tls/redis.crt
/opt/app/conf/redis-standalone/tls/redis.dh:/data/redis/tls/redis.dh"
REDIS_ENV_EOF
