renameCommands() {
  local unsafeCommands="
    BGREWRITEAOF
    BGSAVE
    CONFIG
    DEBUG
    FLUSHALL
    FLUSHDB
    KEYS
    REPLICAOF
    SAVE
    SHUTDOWN
    SLAVEOF
  "

  local allowedCommands="$(echo " {{ replace (getv "/env/enable-commands" "DISABLE_ALL") "," " " -1 }} " | sed "/ DISABLE_ALL /d")"
  local cmd; for cmd in $unsafeCommands; do
    local renamed=$cmd
    if [[ " $allowedCommands " != *" $cmd "* ]]; then
      renamed=$(echo -n ${cmd}{{ getv "/cluster/cluster_id" }} | sha256sum | cut -d' ' -f1)
    fi
    echo rename-command $cmd $renamed
  done
}

cat > /opt/app/conf/redis-standalone/redis.managed.conf << REDIS_MANAGED_CONF_EOF
$(renameCommands)
port {{ getv "/env/port" "6379" }}
masterauth "{{ getv "/env/requirepass" "" }}"
requirepass "{{ getv "/env/requirepass" "" }}"
REDIS_MANAGED_CONF_EOF
