hostsFile=/etc/hosts
sed "/^# >> Redis nodes./,/^# << Redis nodes./d" $hostsFile > $hostsFile.swap

flush >> $hostsFile.swap << HOSTS_FILE
# >> Redis nodes. WARNING: this is managed by script and please don't touch manually.
{{- range lsdir "/hosts" }}
{{ getv (printf "/hosts/%s/ip" .) }}{{ printf "\t" }}{{ getv (printf "/hosts/%s/node_id" .) }}
{{- end }}
# << Redis nodes. WARNING: this is managed by script and please don't touch manually.
HOSTS_FILE
mv $hostsFile.swap $hostsFile
