mkdir -p /opt/app/conf/redis-standalone/tls
flush /opt/app/conf/redis-standalone/tls/redis.crt << TLS_CERT_EOF
{{ join (getvs "/env/tls-cert") "" }}
TLS_CERT_EOF

flush /opt/app/conf/redis-standalone/tls/redis.key << TLS_KEY_EOF
{{ join (getvs "/env/tls-key") "" }}
TLS_KEY_EOF

flush /opt/app/conf/redis-standalone/tls/ca.crt << TLS_CA_CERT_EOF
{{ join (getvs "/env/tls-ca-cert") "" }}
TLS_CA_CERT_EOF

flush /opt/app/conf/redis-standalone/tls/redis.dh << TLS_DH_PARAMS_EOF
{{ join (getvs "/env/tls-dh-params") "" }}
TLS_DH_PARAMS_EOF

