
aclEncode() {
  if [ -z "$1" ];then
    echo -n nopass
  else
    echo -n "$1" | openssl sha256 | awk '{print "#"$2}'
  fi
}

flush /opt/app/conf/redis-standalone/aclfile.conf << NODES_CONF_EOF
user default on $(aclEncode '{{ getv "/env/requirepass" "" }}') ~* &* +@all
NODES_CONF_EOF

