{
    "name": {{cluster.name}},
    "description": {{cluster.description}},
    "multi_zone_policy": "round_robin",
    "vxnet": {{cluster.vxnet}},
    "upgrade_policy": [
    ],    
    "upgrading_policy": "parallel",
    "nodes": [{
        "role": "master",
        "container": {
            "type": "lxc",
            "prefer_type": "lxc",
            "zone": "pek3",
            "sriov_nic": true,
            "image": "img-8uq0oltm"
        },
        "instance_class": {{cluster.master.instance_class}},
        "count": {{cluster.master.count}},
        "cpu": {{cluster.master.cpu}},
        "memory": {{cluster.master.memory}},
        "volume": {
            "size": {{cluster.master.volume_size}},
            "mount_point": "/data",
            "filesystem": "xfs"
        },
        "replica": {{cluster.master.replica}},
        "vertical_scaling_policy": "sequential",
        "services": {
            "init": {
                "cmd": "appctl init"
            },
            "start": {
                "cmd": "appctl start"
            },
            "stop": {
                "cmd": "appctl stop"
            },
            "scale_in": {
                "nodes_to_execute_on": 1,
                "pre_check": "appctl preScaleIn",
                "cmd": "appctl scaleIn",
                "timeout": 86400
            },
            "scale_out": {
                "nodes_to_execute_on": 1,
                "pre_check": "appctl preScaleOut",
                "cmd": "appctl scaleOut",
                "timeout": 86400
            },
            "run_command": {
                "type": "custom",
                "cmd": "appctl runCommand",
                "timeout": 1200,
                "service_params": {
                    "cmd": {{service_params.cmd}},
                    "params": {{service_params.params}},
                    "timeout": {{service_params.timeout}}
                }
            },
            "add_user": {
                "type": "custom",
                "cmd": "appctl aclManage addUser",
                "timeout": 120,
                "service_params": {
                    "username": {{service_params.username}},
                    "passwd": {{service_params.passwd}},
                    "switch": {{service_params.switch}},
                    "rules": {{service_params.rules}}
                }
            },
            "set_user_rules": {
                "type": "custom",
                "cmd": "appctl aclManage setUserRules",
                "timeout": 120,
                "service_params": {
                    "username": {{service_params.username}},
                    "rules": {{service_params.rules}}
                }
            },
            "del_user": {
                "type": "custom",
                "cmd": "appctl aclManage delUser",
                "timeout": 120,
                "service_params": {
                    "username": {{service_params.username}}
                }
            },
            "set_switch": {
                "type": "custom",
                "cmd": "appctl aclManage setSwitch",
                "timeout": 120,
                "service_params": {
                    "username": {{service_params.username}},
                    "switch": {{service_params.switch}}
                }
            },
            "reset_passwd": {
                "type": "custom",
                "cmd": "appctl aclManage resetPasswd",
                "timeout": 120,
                "service_params": {
                    "username": {{service_params.username}},
                    "passwd": {{service_params.passwd}}
                }
            },
            "get_nodes_order": {
                "event": ["upgrade", "rollback", "scale_vertical"],
                "cmd": "appctl getNodesOrder"
            }
        }
    }],
    "env": {
        "disabled-commands": {{env.disabled-commands}},
        "enable-config": {{env.enable-config}},
        "enable-acl": {{env.enable-acl}},
        "requirepass": {{env.requirepass}},
        "appcenterignore-requirepass": {{env.requirepass}},
        "port": {{env.port}},
        "cluster-port": {{env.cluster-port}},
        "appctl.maxmemory.percent": {{env.appctl.maxmemory.percent}},
        "activerehashing": {{env.activerehashing}},
        "appendonly": {{env.appendonly}},
        "appendfsync": {{env.appendfsync}},
        "cluster-node-timeout": {{env.cluster-node-timeout}},
        "cluster-allow-pubsubshard-when-down": {{env.cluster-allow-pubsubshard-when-down}},
        "cluster-link-sendbuf-limit": {{env.cluster-link-sendbuf-limit}},
        "latency-monitor-threshold": {{env.latency-monitor-threshold}},
        "maxclients": {{env.maxclients}},
        "maxmemory-policy": {{env.maxmemory-policy}},
        "maxmemory-samples": {{env.maxmemory-samples}},
        "maxmemory-clients": {{env.maxmemory-clients}},
        "min-replicas-max-lag": {{env.min-replicas-max-lag}},
        "min-replicas-to-write": {{env.min-replicas-to-write}},
        "no-appendfsync-on-rewrite": {{env.no-appendfsync-on-rewrite}},
        "notify-keyspace-events": {{env.notify-keyspace-events}},
        "repl-backlog-size": {{env.repl-backlog-size}},
        "repl-backlog-ttl": {{env.repl-backlog-ttl}},
        "repl-timeout": {{env.repl-timeout}},
        "slowlog-log-slower-than": {{env.slowlog-log-slower-than}},
        "slowlog-max-len": {{env.slowlog-max-len}},
        "tcp-keepalive": {{env.tcp-keepalive}},
        "timeout": {{env.timeout}},
        "shutdown-timeout": {{env.shutdown-timeout}},
        "node-exporter-enable": {{env.node-exporter-enable}},
        "redis-exporter-enable": {{env.redis-exporter-enable}},
        "web.console.enabled": {{env.web.console.enabled}},
        "web.console.username": {{env.web.console.username}},
        "web.console.password": {{env.web.console.password}},
        "set-max-intset-entries": {{env.set-max-intset-entries}},
        "list-max-listpack-size": {{env.list-max-listpack-size}},
        "hash-max-listpack-entries": {{env.hash-max-listpack-entries}},
        "hash-max-listpack-value": {{env.hash-max-listpack-value}},
        "zset-max-listpack-entries": {{env.zset-max-listpack-entries}},
        "zset-max-listpack-value": {{env.zset-max-listpack-value}},
        "lua-time-limit": {{env.lua-time-limit}},
        "client-output-buffer-limit-normal": {{env.client-output-buffer-limit-normal}},
        "client-output-buffer-limit-replica": {{env.client-output-buffer-limit-replica}},
        "client-output-buffer-limit-pubsub": {{env.client-output-buffer-limit-pubsub}},
        "tls-port": {{env.tls-port}},
        "tls-cluster": {{env.tls-cluster}},
        "tls-auth-clients": {{env.tls-auth-clients}},
        "tls-cluster": {{env.tls-cluster}},
        "tls-protocols": {{env.tls-protocols}},
        "tls-ciphers": {{env.tls-ciphers}},
        "tls-ciphersuites": {{env.tls-ciphersuites}},
        "tls-prefer-server-ciphers": {{env.tls-prefer-server-ciphers}},
        "tls-session-caching": {{env.tls-session-caching}},
        "tls-session-cache-size": {{env.tls-session-cache-size}},
        "tls-session-cache-timeout": {{env.tls-session-cache-timeout}},
        "tls-cert": {{env.tls-cert}},
        "tls-key": {{env.tls-key}},
        "tls-ca-cert": {{env.tls-ca-cert}},
        "tls-dh-params": {{env.tls-dh-params}},
        "io-threads-do-reads": {{env.io-threads-do-reads}},
        "io-threads": {{env.io-threads}}
    },
    "advanced_actions": ["change_vxnet","scale_horizontal"],
    "custom_tags": ["default_deploy_method_sz", "divide_adding_nodes_btn", "hide_modify_instance_type_btn"],
    "endpoints": {
        "client": {
            "port": {{env.port}},
            "protocol": "tcp"
        },
        "tls-client": {
            "port": {{env.tls-port}},
            "protocol": "tcp"
        },
        "Node-Exporter": {
          "port": 9100,
          "protocol": "tcp"
        },
        "Redis-Exporter": {
          "port": 9121,
          "protocol": "tcp"
        }
    },
    "health_check": {
        "enable": true,
        "interval_sec": 60,
        "timeout_sec": 10,
        "action_timeout_sec": 30,
        "healthy_threshold": 2,
        "unhealthy_threshold": 3,
        "check_cmd": "appctl check",
        "action_cmd": "appctl revive"
    },
    "monitor" : {
        "enable" : true,
        "cmd" : "appctl measure",
        "items" : {
            "node_role": {
                "unit": "",
                "value_type": "str",
                "statistics_type": "latest",
                "enums": ["master", "slave"]
            },
            "group_matched": {
                "unit": "",
                "value_type": "str",
                "statistics_type": "latest",
                "enums": ["true", "false"]
            },
            "instantaneous_ops_per_sec_max" : {
                "unit" : "COUNTS/S",
                "value_type" : "int",
                "statistics_type" : "max",
                "scale_factor_when_display" : 1
                
            },
            "loading" : {
                "unit" : "Times",
                "value_type" : "int",
                "statistics_type" : "max",
                "scale_factor_when_display" : 1
            },
            "rdb_bgsave" : {
                "unit" : "Times",
                "value_type" : "int",
                "statistics_type" : "max",
                "scale_factor_when_display" : 1
            },
            "aof_rewrite" : {
                "unit" : "Times",
                "value_type" : "int",
                "statistics_type" : "max",
                "scale_factor_when_display" : 1
            },
            "master_sync" : {
                "unit" : "Times",
                "value_type" : "int",
                "statistics_type" : "latest",
                "scale_factor_when_display" : 1
            },
            "instantaneous_ops_per_sec_avg" : {
                "unit" : "COUNTS/S",
                "value_type" : "int",
                "statistics_type" : "avg",
                "scale_factor_when_display" : 1
            },
            "instantaneous_ops_per_sec_min" : {
                "unit" : "COUNTS/S",
                "value_type" : "int",
                "statistics_type" : "min",
                "scale_factor_when_display" : 1
            },
            "key_count" : {
                "unit" : "Times",
                "value_type" : "int",
                "statistics_type" : "latest",
                "scale_factor_when_display" : 1
            },
            "hit_rate_min" : {
                "unit" : "%",
                "value_type" : "int",
                "statistics_type" : "min",
                "scale_factor_when_display" : 0.01
            },
            "hit_rate_max" : {
                "unit" : "%",
                "value_type" : "int",
                "statistics_type" : "max",
                "scale_factor_when_display" : 0.01
            },
            "hit_rate_avg" : {
                "unit" : "%",
                "value_type" : "int",
                "statistics_type" : "avg",
                "scale_factor_when_display" : 0.01
            },
            "keyspace_hits" : {
                "unit" : "Times",
                "value_type" : "int",
                "statistics_type" : "latest",
                "scale_factor_when_display" : 1
            },
            "keyspace_misses" : {
                "unit" : "Times",
                "value_type" : "int",
                "statistics_type" : "latest",
                "scale_factor_when_display" : 1
            },
            "total_connections_received" : {
                "unit" : "Times",
                "value_type" : "int",
                "statistics_type" : "delta",
                "scale_factor_when_display" : 1
            },
            "evicted_keys" : {
                "unit" : "Times",
                "value_type" : "int",
                "statistics_type" : "latest",
                "scale_factor_when_display" : 1
            },
            "expired_keys" : {
                "unit" : "Times",
                "value_type" : "int",
                "statistics_type" : "latest",
                "scale_factor_when_display" : 1
            },
            "evicted_clients" : {
                "unit" : "Times",
                "value_type" : "int",
                "statistics_type" : "delta",
                "scale_factor_when_display" : 1
            },
            "connected_clients_min" : {
                "unit" : "Times",
                "value_type" : "int",
                "statistics_type" : "min",
                "scale_factor_when_display" : 1
            },
            "connected_clients_max" : {
                "unit" : "Times",
                "value_type" : "int",
                "statistics_type" : "max",
                "scale_factor_when_display" : 1
            },
            "connected_clients_avg" : {
                "unit" : "Times",
                "value_type" : "int",
                "statistics_type" : "avg",
                "scale_factor_when_display" : 1
            },
            "used_memory" : {
                "unit" : "MB",
                "value_type" : "int",
                "statistics_type" : "latest",
                "scale_factor_when_display" : 0.000001
            },
            "memory_usage_min" : {
                "unit" : "Pecent(%)",
                "value_type" : "int",
                "statistics_type" : "min",
                "scale_factor_when_display" : 0.01
            },
            "memory_usage_max" : {
                "unit" : "Pecent(%)",
                "value_type" : "int",
                "statistics_type" : "max",
                "scale_factor_when_display" : 0.01
            },
            "memory_usage_avg" : {
                "unit" : "Pecent(%)",
                "value_type" : "int",
                "statistics_type" : "avg",
                "scale_factor_when_display" : 0.01
            },
            "mem_fragmentation_ratio_min" : {
                "unit" : "",
                "value_type" : "int",
                "statistics_type" : "min",
                "scale_factor_when_display" : 0.01
            },
            "mem_fragmentation_ratio_avg" : {
                "unit" : "",
                "value_type" : "int",
                "statistics_type" : "avg",
                "scale_factor_when_display" : 0.01
            },
            "mem_fragmentation_ratio_max" : {
                "unit" : "",
                "value_type" : "int",
                "statistics_type" : "max",
                "scale_factor_when_display" : 0.01
            },
            "repl_backlog_min" : {
                "unit" : "%",
                "value_type" : "int",
                "statistics_type" : "min",
                "scale_factor_when_display" : 0.01
            },
            "repl_backlog_avg" : {
                "unit" : "%",
                "value_type" : "int",
                "statistics_type" : "avg",
                "scale_factor_when_display" : 0.01
            },
            "repl_backlog_max" : {
                "unit" : "%",
                "value_type" : "int",
                "statistics_type" : "max",
                "scale_factor_when_display" : 0.01
            },
            "replica_delay" : {
                "unit" : "Bytes",
                "value_type" : "int",
                "statistics_type" : "latest",
                "scale_factor_when_display" : 1
            },
            "aof_buffer_min" : {
                "unit" : "Bytes",
                "value_type" : "int",
                "statistics_type" : "min",
                "scale_factor_when_display" : 1
            },
            "aof_buffer_avg" : {
                "unit" : "Bytes",
                "value_type" : "int",
                "statistics_type" : "avg",
                "scale_factor_when_display" : 1
            },
            "aof_buffer_max" : {
                "unit" : "Bytes",
                "value_type" : "int",
                "statistics_type" : "max",
                "scale_factor_when_display" : 1
            },
            "del" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "dump" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "exists" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "expire" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "expireat" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "move" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "persist" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "pexpire" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "pexpireat" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "pttl" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "randomkey" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "rename" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "renamenx" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "restore" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "sort" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "ttl" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "type" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "scan" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "append" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "bitcount" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "bitop" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "decr" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "decrby" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "get" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "getbit" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "getrange" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "getset" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "incr" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "incrby" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "incrbyfloat" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "mget" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "mset" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "msetnx" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "psetex" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "set" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "setbit" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "setex" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "setnx" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "setrange" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "strlen" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "hdel" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "hexists" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "hget" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "hgetall" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "hincrby" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "hincrbyfloat" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "hkeys" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "hlen" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "hmget" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "hmset" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "hset" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "hsetnx" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "hvals" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "hscan" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "blpop" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "brpop" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "brpoplpush" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "lindex" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "linsert" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "llen" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "lpop" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "lpush" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "lpushx" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "lrange" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "lrem" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "lset" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "ltrim" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "rpop" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "rpoplpush" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "rpush" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "rpushx" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "sadd" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "scard" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "sdiff" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "sdiffstore" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "sinter" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "sinterstore" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "sismember" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "smembers" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "smove" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "spop" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "srandmember" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "srem" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "sunion" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "sunionstore" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "sscan" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "zadd" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "zcard" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "zcount" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "zincrby" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "zrange" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "zrangebyscore" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "zrank" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "zrem" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "zremrangebyrank" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "zremrangebyscore" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "zrevrange" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "zrevrangebyscore" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "zrevrank" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "zscore" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "zunionstore" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "zinterstore" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "zscan" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "zrangebylex" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "zlexcount" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "zremrangebylex" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "pfadd" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "pfcount" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "pfmerge" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "psubscribe" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "publish" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "pubsub" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "punsubscribe" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "subscribe" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "unsubscribe" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "discard" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "exec" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "multi" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "unwatch" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "watch" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "eval" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "evalsha" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 },
            "script" : { "unit" : "Times", "value_type" : "int", "statistics_type" : "delta", "scale_factor_when_display" : 1 }
        },
        "groups" : {
            "QPS": ["instantaneous_ops_per_sec_min", "instantaneous_ops_per_sec_avg", "instantaneous_ops_per_sec_max"],
            "is_group_matched": ["group_matched"],
            "replicaDelay": ["replica_delay"],
            "aof_buffer": ["aof_buffer_min","aof_buffer_avg","aof_buffer_max"],
            "mem_fragmentation_ratio": ["mem_fragmentation_ratio_min","mem_fragmentation_ratio_avg","mem_fragmentation_ratio_max"],
            "repl_backlog": ["repl_backlog_min", "repl_backlog_avg", "repl_backlog_max"],
            "Running_Status": ["loading", "rdb_bgsave", "aof_rewrite", "master_sync"],
            "Keys1_count" : ["del","dump","exists","expire","expireat"],
            "Keys2_count" : ["move","persist","pexpire","pexpireat","pttl"],
            "Keys3_count" : ["randomkey","rename","renamenx","restore","sort"],
            "Keys4_count" : ["ttl","type","scan"],
            "Strings1_count" : ["append","bitcount","bitop","decr","decrby"],
            "Strings2_count" : ["get","getbit","getrange","getset","incr"],
            "Strings3_count" : ["incrby","incrbyfloat","mget","mset","msetnx"],
            "Strings4_count" : ["psetex","set","setbit","setex","setnx"],
            "Strings5_count" : ["setrange","strlen"],
            "Hashes1_count" : ["hdel","hexists","hget","hgetall","hincrby"],
            "Hashes2_count" : ["hincrbyfloat","hkeys","hlen","hmget","hmset"],
            "Hashes3_count" : ["hset","hsetnx","hvals","hscan"],
            "Lists1_count" : ["blpop","brpop","brpoplpush","lindex","linsert"],
            "Lists2_count" : ["llen","lpop","lpush","lpushx","lrange"],
            "Lists3_count" : ["lrem","lset","ltrim","rpop","rpoplpush"],
            "Lists4_count" : ["rpush","rpushx"],
            "Set1_count" : ["sadd","scard","sdiff","sdiffstore","sinter"],
            "Set2_count" : ["sinterstore","sismember","smembers","smove","spop"],
            "Set3_count" : ["srandmember","srem","sunion","sunionstore","sscan"],
            "Zset1_count" : ["zadd","zcard","zcount","zincrby","zrange"],
            "Zset2_count" : ["zrangebyscore","zrank","zrem","zremrangebyrank","zremrangebyscore"],
            "Zset3_count" : ["zrevrange","zrevrangebyscore","zrevrank","zscore","zunionstore"],
            "Zset4_count" : ["zinterstore","zscan","zrangebylex","zlexcount","zremrangebylex"],
            "Hyperlog_count" : ["pfadd","pfcount","pfmerge"],
            "Pubsub1_count" : ["psubscribe","publish","pubsub","punsubscribe","subscribe"],
            "Pubsub2_count" : ["unsubscribe"],
            "Transaction_count" : ["discard","exec","multi","unwatch","watch"],
            "Script_count" : ["eval","evalsha","script"],
            "Connections" : ["total_connections_received"],
            "connected_clients" : ["connected_clients_min", "connected_clients_max", "connected_clients_avg", "evicted_clients"],
            "Keys" : ["evicted_keys", "expired_keys", "key_count"],
            "Key_hits" : [ "keyspace_hits", "keyspace_misses" ],
            "memory_usage" : [ "memory_usage_min", "memory_usage_max", "memory_usage_avg"],
            "hit_rate" : [ "hit_rate_min", "hit_rate_max", "hit_rate_avg" ]
        },
        "display" : ["node_role", "is_group_matched", "QPS", "memory_usage", "mem_fragmentation_ratio",  "Running_Status", "replicaDelay", "repl_backlog", "aof_buffer",  "connected_clients", "Connections", "Keys", "Key_hits", "hit_rate",  "Keys1_count","Keys2_count", "Keys3_count", "Keys4_count", "Strings1_count", "Strings2_count", "Strings3_count", "Strings4_count", "Strings5_count", "Hashes1_count", "Hashes2_count", "Hashes3_count", "Lists1_count", "Lists2_count", "Lists3_count", "Lists4_count", "Set1_count", "Set2_count", "Set3_count", "Zset1_count", "Zset2_count", "Zset3_count", "Zset4_count", "Hyperlog_count", "Pubsub1_count", "Pubsub2_count", "Transaction_count", "Script_count"],
        "alarm" : ["memory_usage_max", "evicted_keys", "keyspace_misses", "hit_rate_max", "connected_clients_max","group_matched", "node_role", "repl_backlog_max", "mem_fragmentation_ratio_min", "mem_fragmentation_ratio_max", "evicted_clients"]
    },
    "display_tabs" : {
        "roles" : {
        "cmd" : "appctl getRedisRoles"
        },
        "ACL_List" : {
        "cmd" : "appctl getUserList"
        }
    }
}
