[Unit]
Description=redis_exporter
Wants=network-online.target
After=network.target

[Service]
Type=forking
User=prometheus
PIDFile=/data/redis_exporter/redis_exporter.pid
ExecStart=/usr/bin/bash /opt/prometheus/redis_exporter/redis_exporter.sh start
ExecStop=/usr/bin/bash /opt/prometheus/redis_exporter/redis_exporter.sh stop
Restart=on-failure

[Install]
WantedBy=multi-user.target
