[Unit]
Description=Redis Server
After=network.target

[Service]
User=redis
Group=svc
RuntimeDirectory=redis
PIDFile=/var/run/redis/redis.pid
ExecStart=/opt/redis/current/redis-server /data/redis/redis.conf
ExecStop=/bin/sh -c "/bin/kill -15 $MAINPID || /bin/kill -9 $MAINPID"
Restart=always
Type=notify
LimitNOFILE=infinity

CapabilityBoundingSet=CAP_NET_ADMIN
AmbientCapabilities=CAP_NET_ADMIN
NoNewPrivileges=true
TimeoutStartSec=infinity
TimeoutStopSec=infinity

[Install]
WantedBy=multi-user.target
