JOINING_REDIS_NODES="$(echo "
{{- range lsdir "/adding-hosts" }}
{{ getv (printf "/adding-hosts/%s/sid" .) }}/{{ getv (printf "/adding-hosts/%s/ip" .) }}
{{- end }}
" | xargs -n1 | sort -V | xargs)"
LEAVING_REDIS_NODES="$(echo "
{{- range lsdir "/deleting-hosts" }}
{{ getv (printf "/deleting-hosts/%s/sid" .) }}/{{ getv (printf "/deleting-hosts/%s/ip" .) }}
{{- end }}
" | xargs -n1 | sort -V | xargs)"
