hashtool=/opt/caddy/current/caddy

flush /opt/app/conf/caddy/caddyfile << CADDYFILE_EOF
{
        admin off
        auto_https off
        persist_config off
        order upload before file_server
        log {
                output file /data/caddy/caddy.log
        }
}

:80 {
        vars {
                rootDir "/data"
        }

        root {vars.rootDir}

        {{- with getv "/env/web.console.password" "" }}
        basic_auth {
                {{ getv "/env/web.console.username" "admin" }} $($hashtool hash-password --plaintext '{{ . }}')
        }
        {{- end }}

        handle /redis/logs* {
                file_server browse
        }

        handle /redis/appendonlydir* {
                file_server browse
        }

        file_server

        redir /redis/ / 308

        templates

        @mypost method POST
        upload @mypost {
                dest_dir caddy/upload
                fixed_file_name dump.rdb
                max_form_buffer 1G
                max_filesize 500MB
                response_template templates/upload-resp-template.txt
        }
}
CADDYFILE_EOF
