flush /opt/app/conf/caddy/Caddyfile << CADDYFILE_EOF
:80 {
  {{- with getv "/env/web.console.password" "" }}
  basicauth / "{{ getv "/env/web.console.username" "admin" }}" "{{ . }}"
  {{- end }}
  root /data
  gzip
  browse /redis/logs
  browse /redis/dump.rdb
  browse /redis/appendonly.aof
  tls off
}
CADDYFILE_EOF
