flush /opt/app/conf/caddy/caddyfile << CADDYFILE_EOF
{
        order upload before file_server
}

:80 {
        {{- with getv "/env/web.console.password" "" }}
        basicauth / "{{ getv "/env/web.console.username" "admin" }}" "{{ . }}"
        {{- end }}
        vars {
                rootDir "/data"
        }

        root {vars.rootDir}

        handle /redis/logs* {
                file_server browse
        }

        handle /redis/appendonlydir* {
                file_server browse
        }

        file_server

        redir /redis/ / 308

        templates

        @mypost method POST
        upload @mypost {
                dest_dir caddy/upload
                max_form_buffer 1G
                max_filesize 4MB
                response_template templates/upload-resp-template.txt
        }
}
CADDYFILE_EOF
