flush /etc/zabbix/zabbix_agent2.conf << ZABBIX_AGENT2_CONF_EOF
PidFile=/var/run/zabbix/zabbix_agent2.pid
LogFile=/var/log/zabbix/zabbix_agent2.log
LogFileSize=0
Server={{ getv "/env/zabbix-server" "" }}
ServerActive={{ getv "/env/zabbix-server" "" }}
Include=/etc/zabbix/zabbix_agent2.d/*.conf
ControlSocket=/tmp/agent.sock
SourceIP={{ getv "/host/ip" }}
Hostname={{ getv "/host/ip" }}
Plugins.Redis.Sessions.{{getv "/env/zabbix-named-sessions" "redis" }}.Uri=tcp://{{ getv "/host/ip" }}:{{ getv "/env/port" "6379" }}
Plugins.Redis.Sessions.{{getv "/env/zabbix-named-sessions" "redis" }}.Password={{ getv "/env/requirepass" "" }}
ZABBIX_AGENT2_CONF_EOF

